<div class="container">
  <mat-card class="example-card" *ngFor="let partition of partitions ">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title><a [routerLink]="['/partitions', partition._id]">{{partition.title}}</a></mat-card-title>
      <mat-card-subtitle>{{partition.subTitle}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="partitionList">
      <mat-chip-list aria-label="Fish selection">
        <mat-chip color="primary" selected *ngIf="partition.tonalite">{{partition.tonalite}}</mat-chip>
        <mat-chip color="accent" selected *ngIf="partition.genre">{{partition.genre}}</mat-chip>
        <mat-chip color="warn" selected *ngIf="partition.pays">{{partition.pays}}</mat-chip>
      </mat-chip-list>
        <mat-chip-list aria-label="Fish selection" *ngFor="let item of partition.instruments">
          <mat-chip>{{item}}</mat-chip>
        </mat-chip-list>
      </div>
    </mat-card-content>
    <mat-card-content>
      <p>
        {{partition.description}}
      </p>
    </mat-card-content>
    <mat-card-content>
          
            <a [href]="partitionFilePath + partition.partitionFile" target="blank">
              <img class="logoUpload" src="assets/logo-pdf.png" alt="Partition">
            </a>

    </mat-card-content>
    <mat-card-actions>
      <h4>Play lists:</h4>
      <button mat-fab color="accent" (click)="openDialog()">
        <mat-icon svgIcon="add" aria-hidden="false"></mat-icon>
      </button>
    </mat-card-actions>
 
  </mat-card>



</div>
