<div class="container">

  <mat-card class="example-card" *ngIf="partition else loading">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{partition?.title}}</mat-card-title>
      <mat-card-subtitle>{{partition.subTitle}}</mat-card-subtitle>
    </mat-card-header>
    <div class="partitionList">

      <mat-chip-list aria-label="Fish selection">
        <mat-chip color="primary" selected *ngIf="partition.tonalites.name">{{partition.tonalites.name}}</mat-chip>
        <mat-chip color="accent" selected *ngIf="partition.genre">{{partition.genre.name}}</mat-chip>
        <mat-chip color="warn" selected *ngIf="partition.pays">{{partition.pays.name}}</mat-chip>
      </mat-chip-list>

      <div *ngIf="partition.instruments" >
        <mat-chip-list aria-label="Fish selection" *ngFor="let item of partition.instruments">
          <mat-chip>{{item.name}}</mat-chip>
        </mat-chip-list>
      </div>
    </div>
    <mat-card-content>
      <p>Description:</p>
      <p [innerHTML]="partition.description">

      </p>
      <h3>Télécharger la partition: </h3>
      <p>
        <a [href]="partitionFilePath + partition.partitionFile" target="blank">
          <img class="logoUpload" src="assets/logo-pdf.png" alt="Partition">
        </a>
      </p>
      <app-abc-player [abcFile]="partition.abc"></app-abc-player>

      <p [innerHTML]="partition.text"></p>

    </mat-card-content>
    <mat-card-content>
      <div id="opensheet"></div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-fab color="primary" [routerLink]="['/admin/creationPartition']">
        <mat-icon svgIcon="add" aria-hidden="false"></mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
  <ng-template #loading> Chargement en cours...</ng-template>
</div>
