.example-container {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  width: 700px;
  margin: 0 auto;
  }
  mat-form-field{
    width: 80%;
  }
  
  .example-container > * {
    width: 100%;
  }

  .example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }